---
import Hamburger from "./hamburger.astro"
import Navigation from "./navigation.astro"
import ThemeIcon from "./theme-icon.astro"
---

<header>
  <nav>
    <Hamburger />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>
